<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django Handler" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\PS2PROJECT\myvenv\Scripts\python.exe|E:\PS2PROJECT\myvenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
